<div class="w-full space-y-6">

  <!-- ===================================================== -->
  <!-- PHYSICAL MEETING APPROVAL QUEUE -->
  <!-- ===================================================== -->

  <app-physical-approval-queue>
  </app-physical-approval-queue>


  <!-- ===================================================== -->
  <!-- TELECALLING APPROVAL QUEUE -->
  <!-- ===================================================== -->

  <app-telecalling-approval-queue>
  </app-telecalling-approval-queue>

</div>