<app-executive-layout [notifications]="notifications">

  <!-- Header -->
  <div class="border-b border-gray-200 pb-4">

    <p class="uppercase tracking-[0.15em] text-red-800 text-xs font-bold">
      Pentagon Business Console
    </p>

    <h1 class="text-2xl sm:text-3xl font-bold text-gray-900 mt-1">
      Welcome, Sales Executive
    </h1>

    <p class="text-xs sm:text-sm text-gray-500 mt-2 leading-6">
      Code:
      <span class="font-semibold">SME001</span> |
      Department:
      <span class="font-semibold">Sales and Marketing</span> |
      Location:
      <span class="font-semibold">South India</span>
    </p>

  </div>

  <!-- KPI CARDS -->
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">

    @for(card of cards; track card.title){

    <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm hover:shadow-md transition">

      <p class="text-[11px] uppercase tracking-wider font-semibold text-gray-500">
        {{ card.title }}
      </p>

      <h2 class="text-2xl font-bold text-gray-900 mt-3">
        {{ card.value }}
      </h2>

      <p class="mt-2 text-xs font-medium" [class]="card.color">
        {{ card.description }}
      </p>

    </div>

    }

  </div>

  <!-- Sales Visit Table -->
  <div class="mt-6">
   <app-organization-table
    [canEdit]="true">
</app-organization-table>
  </div>

</app-executive-layout>

@if(showDiscussionForm && selectedLead){

<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 p-4">

  <div class="w-full max-w-lg">

    <app-customer-discussion-form
      [lead]="selectedLead"
      (close)="closeDiscussionForm()"
      (save)="onDiscussionSaved($event)">
    </app-customer-discussion-form>

  </div>

</div>

}