<div class="border-r border-gray-200 max-h-[650px] overflow-y-auto">

  <div class="p-4">

    <h3 class="mb-4 text-xs uppercase tracking-widest text-gray-500">

      Employee List

    </h3>

   @for (employee of employees; track employee.id) {

      <div
        (click)="onSelectEmployee(employee)"
        class="mb-3 cursor-pointer rounded-xl border transition-all duration-200 hover:shadow-md"
        [class.bg-red-800]="selectedEmployee.id === employee.id"
        [class.text-white]="selectedEmployee.id === employee.id"
        [class.border-red-800]="selectedEmployee.id === employee.id"
        [class.border-gray-200]="selectedEmployee.id !== employee.id">

        <div class="flex items-start gap-4 p-4">

          <!-- Avatar -->

          <div
            class="flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-red-100 font-bold text-red-800"
            [class.bg-white]="selectedEmployee.id === employee.id">

            {{ employee.employee.fullName.charAt(0).toUpperCase() }}

          </div>

          <!-- Details -->

          <div class="flex-1">

            <h4 class="text-sm font-semibold">

              {{ employee.employee.fullName }}

            </h4>

            <p
              class="mt-1 text-xs"
              [class.text-red-100]="selectedEmployee.id === employee.id"
              [class.text-gray-500]="selectedEmployee.id !== employee.id">

              {{ employee.employee.designation }}

            </p>

            <p
              class="mt-1 text-[11px]"
              [class.text-red-200]="selectedEmployee.id === employee.id"
              [class.text-gray-400]="selectedEmployee.id !== employee.id">

              {{ employee.employee.department }}

            </p>

            <p
              class="mt-1 text-[11px]"
              [class.text-red-200]="selectedEmployee.id === employee.id"
              [class.text-gray-400]="selectedEmployee.id !== employee.id">

              Joining :
              {{ employee.joiningDate | date:'dd MMM yyyy' }}

            </p>

            <!-- Progress -->

            <div class="mt-3">

              <div class="mb-1 flex justify-between text-[11px]">

                <span>

                  Progress

                </span>

                <span>

               {{ selectedEmployee.id === employee.id ? progress : 0 }}%

                </span>

              </div>

              <div class="h-1.5 overflow-hidden rounded-full bg-gray-200">

                <div
                  class="h-full bg-red-700 transition-all duration-300"
                  [style.width.%]="selectedEmployee.id === employee.id ? progress : 0">

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    } @empty {

      <div class="py-12 text-center text-sm text-gray-500">

        No Employees Found

      </div>

    }

  </div>

</div>