<div class="space-y-6">

  <!-- Summary Cards -->

  <app-finance-summary-cards
    [summaryCards]="summaryCards">
  </app-finance-summary-cards>

  <!-- Charts & Budget Section -->

  <div class="mt-4 grid grid-cols-12 gap-6">

    <!-- Revenue Chart -->

    <div class="col-span-8">

      <app-revenue-expense-chart
        [chartData]="revenueExpenseChart">
      </app-revenue-expense-chart>

    </div>

    <!-- Department Budget -->

    <div class="col-span-4">

      <app-department-budgets>
      </app-department-budgets>

    </div>

  </div>

  <!-- General Ledger -->

  <app-general-ledger-table>
  </app-general-ledger-table>

</div>