<div class="bg-white border border-gray-200 rounded-xl shadow-sm p-5">

  <!-- Header -->
  <div class="flex justify-between items-center mb-5">

    <div>

      <h2 class="text-xl font-serif text-red-900">

        Employee Onboarding

      </h2>

    </div>

    <button (click)="viewAllOnboarding()"
      class="text-red-800 text-[11px] font-semibold uppercase tracking-wide hover:underline">

      View All →

    </button>

  </div>

  <app-employee-list
  [employees]="onboardingService.employees()"
  [selectedEmployee]="onboardingService.selectedEmployee()!"
  (selectEmployee)="onboardingService.selectEmployee($event)">
</app-employee-list>

</div>