<div class="bg-white rounded-xl p-6 w-full max-w-3xl shadow-xl">

  <!-- Header -->

  <div class="mb-6">

    <h2 class="text-2xl font-bold text-gray-900">
      ☎ Log Call Outcome for:
      {{ lead.organization }}
    </h2>

  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
  >

    <!-- Row -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

      <!-- Duration -->

      <div>

        <label class="block text-sm font-medium mb-2">
          Duration (Seconds)
        </label>

        <input
          type="number"
          formControlName="duration"
          class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-red-700"
        />

      </div>

      <!-- Outcome -->

      <div>

        <label class="block text-sm font-medium mb-2">
          Call Outcome
        </label>

        <select
          formControlName="callOutcome"
          class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-red-700"
        >

          <option value="">
            Select
          </option>

          <option value="INTERESTED">
            Interested
          </option>

          <option value="Follow Up Required">
            Follow Up Required
          </option>

          <option value="Not Interested">
            Not Interested
          </option>

          <option value="No Answer">
            No Answer
          </option>

          <option value="Busy">
            Busy
          </option>

          <option value="Wrong Number">
            Wrong Number
          </option>

        </select>

      </div>

    </div>

    <!-- Remarks -->

    <div class="mt-5">

      <label class="block text-sm font-medium mb-2">
        Call Conversation Remarks
      </label>

      <textarea
        rows="5"
        formControlName="remarks"
        class="w-full border border-gray-300 rounded-lg px-4 py-3 resize-none focus:outline-none focus:ring-2 focus:ring-red-700"
        placeholder="Write discussion details..."
      ></textarea>

    </div>

    <!-- Footer -->

    <div class="flex justify-end gap-3 mt-6">

      <button
        type="button"
        (click)="close.emit()"
        class="px-6 py-2 border border-gray-300 rounded-lg hover:bg-gray-100"
      >
        Cancel
      </button>

      <button
        type="submit"
        class="px-6 py-2 bg-red-800 text-white rounded-lg hover:bg-red-900"
      >
        Save Activity Log
      </button>

    </div>

  </form>

</div>