<mat-tab-group
  [selectedIndex]="selectedTab"
  (selectedIndexChange)="onTabChange($event)"
>

  <!-- ===================================================== -->
  <!-- SALES TELECALLING -->
  <!-- ===================================================== -->

  <mat-tab label="Sales Telecalling">

    <app-telecalling-form
      (save)="onTelecallingSave($event)"
      (cancel)="onCancel()"
    />

  </mat-tab>


  <!-- ===================================================== -->
  <!-- SALES PHYSICAL MEETING -->
  <!-- ===================================================== -->

  <mat-tab label="Sales Physical Meeting">

    <app-sales-physical-meeting-form
      (save)="onSalesVisitSave($event)"
      (cancel)="onCancel()"
    />

  </mat-tab>

</mat-tab-group>