<div class="flex flex-col gap-6">

  <!-- ===================================================== -->
  <!-- PAYROLL HEADER -->
  <!-- ===================================================== -->

  <app-payroll-header
    (bankChanged)="onBankChanged($event)"
    (tabChanged)="onTabChanged($event)">
  </app-payroll-header>


  <!-- ===================================================== -->
  <!-- TAB CONTENT -->
  <!-- ===================================================== -->

  @switch (activeTab()) {



    <!-- =================================================== -->
    <!-- PAYROLL REGISTER -->
    <!-- =================================================== -->

    @case ('register') {

      <app-payroll-register
        (disburseSalary)="openSalaryDisbursementModal()"
        (viewPayslip)="openPayslipModal()">
      </app-payroll-register>

    }


    <!-- =================================================== -->
    <!-- SALARY EXPENSE -->
    <!-- =================================================== -->

    @case ('expense') {

      <app-salary-expense>
      </app-salary-expense>

    }


    <!-- =================================================== -->
    <!-- LIABILITIES -->
    <!-- =================================================== -->

    @case ('liabilities') {

      <app-payroll-liabilities>
      </app-payroll-liabilities>

    }


    <!-- =================================================== -->
    <!-- PAYROLL JOURNAL -->
    <!-- =================================================== -->

    @case ('journal') {

      <app-payroll-journal>
      </app-payroll-journal>

    }


    <!-- =================================================== -->
    <!-- SALARY PAYMENT -->
    <!-- =================================================== -->

    @case ('payments') {

      <app-salary-payment>
      </app-salary-payment>

    }


    <!-- =================================================== -->
    <!-- PAYMENT HISTORY -->
    <!-- =================================================== -->

    @case ('history') {

      <app-payment-history>
      </app-payment-history>

    }


    <!-- =================================================== -->
    <!-- RECONCILIATION -->
    <!-- =================================================== -->

    @case ('reconciliation') {

      <app-payroll-reconciliation>
      </app-payroll-reconciliation>

    }

  }


  <!-- ===================================================== -->
  <!-- SALARY DISBURSEMENT MODAL -->
  <!-- ===================================================== -->

  @if (showSalaryDisbursementModal) {

    <app-salary-disbursement-modal
      (close)="closeSalaryDisbursementModal()">
    </app-salary-disbursement-modal>

  }


  <!-- ===================================================== -->
  <!-- EMPLOYEE PAYSLIP MODAL -->
  <!-- ===================================================== -->

  @if (showPayslipModal) {

    <app-employee-payslip-modal
      (close)="closePayslipModal()">
    </app-employee-payslip-modal>

  }

</div>