<div class="flex flex-col gap-6">

  <!-- ====================================================== -->
  <!-- Header -->
  <!-- ====================================================== -->

  <app-expenses-header (newClaim)="openExpenseClaimModal()">
  </app-expenses-header>

  <!-- ====================================================== -->
  <!-- Expense Claims -->
  <!-- ====================================================== -->

  <app-expenses-claims-table
  (approve)="openApprovalModal($event, 'Approved')"
  (reject)="openApprovalModal($event, 'Rejected')"
  (viewPayslip)="openReimbursementModal($event)">
</app-expenses-claims-table>

  <!-- ====================================================== -->
  <!-- Expense Claim Modal -->
  <!-- ====================================================== -->

  @if (showExpenseClaimModal) {

  <app-expense-claim-modal (close)="closeExpenseClaimModal()">
  </app-expense-claim-modal>

  }

  <!-- ====================================================== -->
  <!-- Approval Modal -->
  <!-- ====================================================== -->

  @if (showApprovalModal && selectedClaim) {
<app-approve-expense-modal
    [expenseClaim]="selectedClaim"
    [decision]="selectedAction"
    (close)="closeApprovalModal()">
</app-approve-expense-modal>
  }


  <!-- ====================================================== -->
  <!-- Reimbursement Modal -->
  <!-- ====================================================== -->

  @if (showReimbursementModal && selectedClaim) {
  <app-reimbursement-modal [expenseClaim]="selectedClaim" (close)="closeReimbursementModal()">
  </app-reimbursement-modal>
  }

</div>