<div class="space-y-6">

  <!-- Header -->

  <app-operations-header
    [activeTab]="activeTab"
    (tabChanged)="onTabChange($event)">
  </app-operations-header>

  <!-- ========================= -->
  <!-- Attendance & Leave Tab -->
  <!-- ========================= -->

  @if(activeTab === 'attendance'){

  <!-- Action Bar -->

  <div class="my-3 flex justify-end">

    <button
      (click)="openLeaveForm()"
      class="rounded-lg bg-red-900 px-5 py-2 text-sm font-medium text-white hover:bg-red-800 transition">

      + Apply Leave

    </button>

  </div>

  <!-- Top -->

  <div class="grid grid-cols-12 gap-6">

    <div class="col-span-4">
      <app-attendance-punch-card />
    </div>

    <div class="col-span-8">
      <app-attendance-history />
    </div>

  </div>


  <!-- Leave Modal -->

  @if(showLeaveForm){

    <app-leave-request-form
      (cancel)="closeLeaveForm()"
      (submitted)="closeLeaveForm()">
    </app-leave-request-form>

  }

}

  <!-- ========================= -->
  <!-- Payroll Tab -->
  <!-- ========================= -->

  @if(activeTab === 'payroll'){

    <app-payroll-summary-card />

  }

  <!-- ========================= -->
  <!-- KRA Tab -->
  <!-- ========================= -->

  @if(activeTab === 'kra'){

    <app-kra-progress-card />

  }

  <!-- ========================= -->
  <!-- Assets Tab -->
  <!-- ========================= -->

  @if(activeTab === 'assets'){

    <app-assigned-assets />

  }

</div>